<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="css/style.css">
  <body>
<h1>RISE AND SHINE</h1>
  <h3>What time does your school start? (Example-08:00)</h3>
  <form method=POST>
    <input type = "text" name= "school_time">
    <br> 
    <h3>How long does it take you to get ready in minutes? (Example-50)</h3>
    <input type = "text" name= "get_ready_time">
    <br>
    <input type="submit" value="GET YOUR SCHEDULE">
  </form>



  </body>
</html>
