<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
  <h1>Rise and Shine</h1>
  <h2>Your Schedule</h2>
  <h3>Wake Up: <%=@mvp_method%> </h3>
   
  </body>
</html>